# This will help ignore all vs folders
IntroCSharp/.vs
ListTutorial/.vs
Miscellaneous/.vs
OOP/.vs
Pinger/.vs
IntroCSharp/IntroCSharp/bin/
IntroCSharp/IntroCSharp/obj/
ListTutorial/ListTutorial/bin/
ListTutorial/ListTutorial/obj/
Pinger/Pinger/bin/
Pinger/Pinger/obj/
OOP/OOP/bin/
OOP/OOP/obj/
Miscellaneous/Miscellaneous/bin/
Miscellaneous/Miscellaneous/obj/
Dotnet-Tutorial/bin
Dotnet-Tutorial/obj
OOP/HelloWorld/bin
OOP/HelloWorld/obj
OOP/Temp/bin
OOP/Temp/obj
OOP/OOP.sln
Pinger/Pinger.sln
Miscellaneous/Miscellaneous.sln
ListTutorial/ListTutorial.sln
IntroCSharp/IntroCSharp.sln
Dotnet-Tutorial/Dotnet-Tutorial.sln



